services:
  - type: web
    name: n8n
    env: docker
    plan: free
    dockerfilePath: ./docker/images/n8n/Dockerfile
    envVars:
      - key: N8N_HOST
        value: n8n.onrender.com
      - key: N8N_PORT
        value: 5678
      - key: N8N_PROTOCOL
        value: https
    buildCommand: ""
    startCommand: ""
